<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Testudo.WcfService.Service1" behaviorConfiguration="Service1Behavior">
        <!-- Endpoint for simple HTTP communication (CLI) -->
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="BasicBinding" 
                  contract="Testudo.Contracts.Interfaces.IService1"/>
        <!-- Endpoint for duplex communication (Worker) -->
        <endpoint address="duplex" 
                  binding="wsDualHttpBinding" 
                  bindingConfiguration="DuplexBinding" 
                  contract="Testudo.Contracts.Interfaces.IService1Duplex"/>
        <!-- Metadata endpoint -->
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service1Behavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!-- Basic HTTP binding for simple communication -->
      <basicHttpBinding>
        <binding name="BasicBinding"/>
      </basicHttpBinding>
      <!-- Duplex binding for bidirectional communication -->
      <wsDualHttpBinding>
        <binding name="DuplexBinding" receiveTimeout="infinite"/>
      </wsDualHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="4.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
